<div class="container mx-auto h-screen flex justify-center items-center" style="background-color: #006747;">
  <div class="text-center text-white font-sans">
    <p class="text-lg mb-4">
      SAFE Team is not operating right now.<br>
      Please try again during operation hours.
    </p>

    <a href="<%= root_path %>" class="inline-block text-white underline hover:text-gray-300 transition mt-4">
      ← Back to Home
    </a>
  </div>
</div>