<div class="min-h-screen flex flex-col justify-center items-center" style="background-color: #006747;">
  <div class="text-center text-white font-sans px-4">
    <p class="text-lg mb-4">
      SAFE Team is not operating right now.<br>
      Please try again during operation hours.
    </p>

    <%= link_to "â† Back to Home", logout_path, method: :delete, class: "inline-block text-white underline hover: text-gray-300 transition mt-4" %>
    
  </div>
</div>
