<div class = "container mx-auto pt-75 bg-green-800 justify-center items-center" style="background-color: #006747;">
<body class=" font-sans text-white flex justify-center items-center h-screen" style="background-color: #006747;">
<div class="text-center">
    <p class="text-lg mb-4">
      SAFE Team is not operating right now.<br>
      Please try again during operation hours.
    </p>

    <a href="<%= root_path %>" class="inline-block text-white underline hover:text-gray-300 transition mt-4">
      ← Back to Home
    </a>
  </div>
  </body>
</div>
